@import './styles/colors.css';
@import './styles/space.css';
@import './styles/radius.css';
@import './styles/typography.css';
@import './styles/layout.css';
@import './styles/motion.css';

/* Reset */
*, *::before, *::after { box-sizing: border-box; margin: 0; }
body {
  font-family: var(--font-family);
  font-size: var(--font-size-m);
  background: var(--color-surface);
  color: var(--color-text);
}
